<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <title>注册&更新完毕</title>
</head>
<body class="text-center">
    <div class="max-w-screen-lg mx-auto">
        <h1 class="text-3xl font-bold mb-4">注册或更新信息完毕！</h1>
        <h2 class="text-xl font-medium mb-6">接下来你需要：</h2>

        <ul class="list-disc list-inside mb-8 space-y-4">
            <li>
                <span class="font-medium">关注邮箱中的来信，</span>
                避免出现密码错误等情况，如若发生请返回重新注册并填写正确的账号密码。
            </li>
            <li>
                <span class="font-medium">在签到时间关注邮箱中的来信，</span>
                关注签到状态。如若在22:00前仍未收到签到状态来信，请自行进行手动签到并向我反馈或检查你的账号密码是否正确。
            </li>
        </ul>
    </div>
</body>
</html>